@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");

:root {
  --main-color: #0e1f6c;
  --main-light-color: #253683;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: var(--main-color);
}

.top-section {
  display: flex;
  min-height: 340px;
  width: 100%;
}

video {
  height: 100%;
  width: 100vw;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.top-container {
  background-color: #fff;
  width: 340px;
  height: 340px;
  display: flex;
  margin: -175px 0 -40px 0;
  border-radius: 50%;
  z-index: 2;
  align-items: center;
  border: 8px solid var(--main-light-color);
}

.text {
  color: #000;
  padding: 24px;
  text-align: center;
}

.text h1 {
  font-size: 2.75rem;
  padding: 16px 0;
}

.text h2 {
  font-size: 1.5rem;
}

.text p {
  line-height: 1.25rem;
  padding: 0 8px;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 40px;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 350px;
  padding: 16px;
  background-color: #fff;
  border: 8px solid var(--main-light-color);
}

.card > img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.card h1 {
  font-size: 2rem;
  font-weight: 100;
  padding-bottom: 8px;
  text-align: center;
}

.card p {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.45rem;
  padding-top: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.card .control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.75rem;
  padding: 16px 0 8px 0;
  width: 100%;
}

#like {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.liked {
  color: red;
}

#share {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

#share:hover,
#like:hover {
  color: rgba(213, 48, 48, 0.8);
}

.card .control h2:hover {
  cursor: pointer;
  text-decoration: underline;
}

.card .control h2 span {
  padding-right: 6px;
}

.footer {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: var(--main-light-color);

  font-family: inherit;
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
}

.footer h3 {
  font-weight: 100;
}
